{% extends "indexLayout.html" %}
{% load static %}

{% block content %}
<div class="page__title"><h2>О НАС</h2></div>
<div class="page__body">
   <p>Мы рады видеть вас в нашем интернет магазине. Мы находимся в городе Екатеринбург. Практически весь товар в наличии на нашем складе. Вам не нужно заказывать товар из Китая и ждать. Мы отправим ваш заказ в ближайшее время после оплаты.</p>
   <p>Наши партнеры это интернет-магазины, одностраничные сайты, группы в соц.сетях, а также владельцы оффлайн бизнеса и торговых точек. Наши специалисты постоянно следят за обстановкой на рынке трендовых товаров. Мы стараемся выставлять на продажу самый ликвидный товар, также помогаем новичкам товарного бизнеса определиться с товаром.</p>
   <h3>Преимущества работы с нами:</h3>
   <ul>
      <li>большой опыт продаж популярных товаров, мы всегда в курсе, что актуально;</li>
      <li>весь товар находится на складе в городе Екатеринбург;</li>
      <li>регулярно пополняем склад новыми, актуальными товарами;</li>
      <li>мы тщательно проверяем товар на брак перед отправкой;</li>
      <li>работаем только с проверенными производителями;</li>
      <li>осуществляем отправку товара точно, аккуратно и быстро;</li>
      <li>работаем со всеми регионами России и странами СНГ;</li>
      <li>сотрудничаем с широким спектром служб доставки и транспортных компаний;</li>
      <li>в случае брака, оперативно меняем на новый товар;</li>
   </ul>
   <h3>Остались вопросы? Будем рады ответить.</h3>
   <ul>
      <li>Тел: 8 (982) 753-15-20</li>
      <li>E-mail: m.trend-opt@yandex.ru</li>
   </ul>
</div>
{%  endblock content %}