{% extends "indexLayout.html" %}
{% load static %}

{% block content %}
<div class="page__title"><h2>КОНТАКТЫ</h2></div>
<div class="page__body">
   <h3>Адрес:</h3>
   <p>г. Екатеринбург</p>
   <h3>Телефон:</h3>
   <ul>
      <li>8 (800) 301 88 60</li>
      <li>8 (901) 538-02-49</li>
   </ul>
   <h3>Время работы:</h3>
   <ul>
      <li>пн-пт 8.00-20.00</li>
      <li>сб-вс 9.00-18.00</li>
   </ul>
   <p>Заказы принимаются 24/7</p>
   <h3>E-mail:</h3>
   <p>m.trend-opt@yandex.ru</p>
</div>
{%  endblock content %}