{% extends "indexLayout.html" %}
{% load static %}

{% block content %}
<div class="page__title"><h2>ДОСТАВКА И ОПЛАТА</h2></div>
<div class="page__body">
   <p>Весь товар в наличии на складе в Москве. Вам не нужно ожидать долгосрочных поставок из Китая. После поступления оплаты на наш счет, мы подготовим и отправим ваш заказ в течение 1-2 рабочих дней. Доставка до транспортной компании бесплатная.</p>
   <h3>Доставка по Екатеринбургу:</h3>
   <p>Курьерская доставка в пределах Екатеринбурга (от 450 р)</p>
   <h3>Доставка в регионы России:</h3>
   <p>Доставка в регионы производится ТК на ваш выбор</p>
   <ul>
      <li>Курьерская служба Сдек</li>
      <li>Транспортная компания DPD</li>
      <li>Транспортная компания Деловые Линии</li>
      <li>Транспортная компания Пэк</li>
   </ul>
   <p>Доставка в отдельные регионы, в которых отсутствуют транспортные компании, производится услугами Почтой РФ
      Стоимость доставки уточняйте на сайтах перевозчиков.</p>
   <h3>Доставка в страны СНГ:</h3>
   <p>Доставка в страны СНГ производится Транспортной компанией КИТ</p>
   <p>Вопросы и предложения: m.trend-opt@yandex.ru</p>
   <p>Тел: 8 800 301 88 60, 8 901 538 02 49</p>

</div>
{%  endblock content %}