{% extends "indexLayout.html" %}
{% load static %}

{% block content %}
<div class="page__title"><h2>ГАРАНТИИ</h2></div>
<div class="page__body">
    <p>Интернет магазин trend-opt.ru является юридическим лицом (форма собственности ИП), документы мы можем предоставить по запросу. Мы сотрудничаем с физическими лицами, ООО и ИП. Заключаем договор поставки, по желанию клиента. Мы ценим свою репутацию и настроены на долгосрочное сотрудничество. Нам нет смысла обманывать вас из-за нескольких тысяч рублей, потеряв в перспективе десятки и сотни тысяч. Для нас ценен каждый клиент, поэтому мы подходим к каждому с индивидуальной стороны.</p>
    <p>Многих новых клиентов волнует вопрос, какие гарантии мы предоставляем. И это совершенно справедливо: риск получить товар с фабричным браком существует. Но наша компания принимает этот риск на себя: наши сотрудники тщательно проверяют весь товар перед отправкой. Для нас важны долговременные партнерские отношения, поэтому мы стремимся исключить возможность попадания к нашим клиентам товара с заводским браком.</p>
    <p>Если же по какой-либо причине бракованный товар пройдет наш контроль, мы гарантируем вам замену в самые короткие сроки. Данная гарантия распространяется только на случаи выявления брака во время получения товара, поэтому не пренебрегайте функцией входного контроля. Любые претензии по качеству или товарному виду принимаются в период 14 дней с момента получения, без его эксплуатации у конечного потребителя, при передачи товара конечному потребителю, гарантийные обязательства - снимаются. Просим вас не пренебрегать проверкой при поступлении товара. Мы гарантируем вам своевременный обмен товаров бракованной продукции за свой счет.</p>
    <p>Гарантийные обязательства по часовой продукции соответствуют заявленной гарантии производителя, но только при условии, что заводская наклейка или голограмма сохранилась в целости: не сорвана и не смещена. Гарантия на часы действительна в течение 7 дней.</p>
    <p>При условии соблюдения этих простых правил, мы беспрекословно выполним свои гарантийные обязательства.</p>
    <p>В случае обнаружения брака, мы производим обмен после получения бракованного товара. Транспортные расходы по транспортировке в нашу сторону ТК "СДЭК" оплачиваются нашей организацией. Транспортные расходы через другие ТК оплачиваются клиентом.</p>
    <p>Транспортные расходы по возвратам брака из стран СНГ, ЕТС, оплачиваются клиентом.</p>
    <h3>Остались вопросы? Будем рады ответить.</h3>
    <p>Вопросы и предложения: m.trend-opt@yandex.ru</p>
    <p>Тел: 8 800 301 88 60, 8 901 538 02 49</p>
</div>
{% endblock content %}