{% extends "indexLayout.html" %}
{% load static %}

{% block content %}
<div class="page__title"><h2>КАК ЗАКАЗАТЬ</h2></div>
<div class="page__body">
    <h3>Уважаемые клиенты, минимальная сумма заказа в нашем интернет магазине 5000 рублей.</h3>
    <p>Вы можете заказать любое количество товара каждой позиции, но что бы в сумме было минимум 5000 рублей.</p>
    <p>Для заказа вам необходимо выбрать понравившийся товар, указать необходимое количество и нажать кнопку "В Корзину". Далее перейти в Корзину и заполнить форму оплаты. В разделе "Комментарии" укажите цвет, размер и ваши предпочтения. После отправки формы, в ближайшее время с вами свяжется менеджер для подтверждения заказа. После подтверждения заказа, вами производится оплата, любым удобным для вас способом.</p>
    <h3>Мы формируем и отправляем ваш заказ после подтверждения оплаты.</h3>
    <p>Условия доставки смотрите в разделе <a href="{% url 'delivery' %}">доставка</a></p>
    <p>Вопросы и предложения: m.trend-opt@yandex.ru</p>
    <p>Тел: 8 800 301 88 60, 8 901 538 02 49</p>
</div>
{%  endblock content %}